<div class="container-fluid" id="bg">
    <div class="row d-flex align-items-center">
        <div class="col-md-5" id="img-bg" style="margin-right: 20px;"></div>
        <div class="col-md-5 mt-5 mb-5 fundoForm">
            <div class="row d-flex justify-content-center">
                <div class="col-md-10">
                    <h1 class="text-center">Cadastro de usuário</h1>
                    <form [formGroup]="formUsuario">
                        <div class="form-group mt-3">
                            <label for="nome">Nome *</label>
                            <input formControlName='nome' class="form-control" type="text" name="nome" id="nome" placeholder="Digite seu nome" >
                        </div>
                        <div class="form-group mt-3">
                            <label for="sobrenome">Sobrenome</label>
                            <input formControlName='sobrenome' class="form-control" type="text" name="sobrenome" id="sobrenome" placeholder="Digite seu sobrenome">
                        </div>
                        <div class="form-group mt-3">
                            <label for="usuario">Usuário *</label>
                            <input formControlName='usuario' class="form-control" type="text" name="usuario" id="usuario" placeholder="Digite seu usuário">
                        </div>
                        <div class="form-group mt-3">
                            <label for="senha">Senha *</label>
                            <input formControlName='senha' class="form-control" type="password" name="senha" id="senha" placeholder="Digite sua senha">
                        </div>
                        <div class="form-group mt-3">
                            <label for="confirmeSenha">Confirmar senha *</label>
                            <input formControlName='confirmeSenha' class="form-control" type="password" name="confirmeSenha" id="confirmeSenha" placeholder="Confirme sua senha">
                        </div>
                        <div class="form-group mt-3 mb-3">
                            <small>* campos obrigatórios<br><br></small>
                            <small>
                                * Senha deve ter: <br>
                                * Pelo menos 8 caracteres de comprimento<br>
                                * Letras minúsculas<br>
                                * Letras maiúsculas<br>
                                * Números<br>
                                * Caracteres especiais
                            </small>
                        </div>
                        <div class="d-flex justify-content-center">
                            <button type="submit" class="btn btn-danger space" routerLink='/home'>Cancelar</button>
                            <button type="submit" class="btn btn-warning space" (click)='novoCadastro()'>Novo Cadastro</button>
                            <button type="submit" class="btn btn-success space" (click)='cadastrar()' [disabled]="formUsuario.invalid">{{!editar? 'Cadastrar' : 'Atualizar'}}</button>
                        </div>
                    </form>
                </div>
                <div class="col-md-12 fundoForm">
                    <h2 class="text-center">Lista de Usuário</h2>
                    <div class="col-md-12">
                      <app-tabela [data]="dadosTabela" [config]="cabecalhoTabela" (editItem)="editarCadastro($event)" (deleteItem)="apagarCadastro($event)"></app-tabela>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
